body {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  border: 4px solid #555;
  background-color: #064f1c;
  display: block;
  margin: 0 auto;
}
